
@media (min-width: 85.4rem){
    .content{
        width:85rem;
    }
}
@media (max-width: 85.4rem){
    .content{
        width:64rem;
    }
}
@media (max-width: 65rem){
    .content{
        width:100%;
        padding:0 1rem;
    }
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Slabo 27px', serif;
}

.title {
	font-weight: bold;
	clear:both;
	display: block;
}
.studio {

}
.time {

}
.city {

}
.cost {

}
.content {
	margin:0 auto;
}