
@media (min-width: 50rem){
    .content{
        width:64rem;
    }
    .acroclass {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
		grid-auto-rows: minmax(50px, auto);
	}
}
/*@media (max-width: 70.4rem){
    .content{
        width:64rem;
    }
    .acroclass {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
		grid-auto-rows: minmax(50px, auto);
	}
}*/
@media (max-width: 50rem){
    .content{
        width:100%;
        padding:0 1rem;
    }
}

html {
	margin:0;
	padding:0;
	height: 100%;
}
body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin:0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Slabo 27px', serif;
}

footer {
	text-align: center;
	background: #E8E8E8;
	padding:10px 0px 10px 0px;
	border-top:1px dotted gray;
	margin: 0px;
}

.title {
	font-weight: bold;
	clear:both;
	display: block;
}
.studio {
clear:both;
	display: block;
}
.time {
clear:both;
	display: block;
}
.city {
clear:both;
	display: block;
}
.cost {
clear:both;
	display: block;
}

.acroclass {
	padding-bottom:20px;
}

.content {
	margin:0 auto;
}